<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RUB</key>
	<dict>
		<key>name</key>
		<string>Russian Ruble</string>
		<key>symbol</key>
		<string>руб</string>
		<key>flag</key>
		<string>Russia</string>
	</dict>
	<key>JPY</key>
	<dict>
		<key>name</key>
		<string>Japanese Yen</string>
		<key>symbol</key>
		<string>¥</string>
		<key>flag</key>
		<string>Japan</string>
	</dict>
	<key>CNY</key>
	<dict>
		<key>name</key>
		<string>Chinese Yuan Renminbi</string>
		<key>symbol</key>
		<string>¥</string>
		<key>flag</key>
		<string>China</string>
	</dict>
	<key>SEK</key>
	<dict>
		<key>name</key>
		<string>Swedish Krona</string>
		<key>symbol</key>
		<string>kr</string>
		<key>flag</key>
		<string>Sweden</string>
	</dict>
	<key>CHF</key>
	<dict>
		<key>name</key>
		<string>Swiss Franc</string>
		<key>symbol</key>
		<string>CHF</string>
		<key>flag</key>
		<string>Switzerland</string>
	</dict>
	<key>INR</key>
	<dict>
		<key>name</key>
		<string>Indian Rupee</string>
		<key>symbol</key>
		<string>₹</string>
		<key>flag</key>
		<string>India</string>
	</dict>
	<key>CAD</key>
	<dict>
		<key>name</key>
		<string>Canadian Dollar</string>
		<key>symbol</key>
		<string>$</string>
		<key>flag</key>
		<string>Canada</string>
	</dict>
	<key>AUD</key>
	<dict>
		<key>name</key>
		<string>Australian Dollar</string>
		<key>symbol</key>
		<string>$</string>
		<key>flag</key>
		<string>Australia</string>
	</dict>
	<key>GBP</key>
	<dict>
		<key>name</key>
		<string>British Pound</string>
		<key>symbol</key>
		<string>£</string>
		<key>flag</key>
		<string>United-Kingdom</string>
	</dict>
	<key>USD</key>
	<dict>
		<key>name</key>
		<string>United States Dollars</string>
		<key>symbol</key>
		<string>$</string>
		<key>flag</key>
		<string>United-States-of-America</string>
	</dict>
</dict>
</plist>
